body{
    background-color: bisque;
}

#addPersonText{
    height: 30px;
    width: 150px;
 
margin-top: 60px;
}

#addPersonButton{
    height:35px;
    width:100px;
}

#addPersonSendToServer{
    height:35px;
    width:100px;
}